@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}

:root {
   --color-button1: #F89646;
   --color-button2: #6BB7BE;
   --color-h1: #343a40;
   --bg-color-description: #F9FAFA;
   --bg-desc-header: #F9FAFA;
   --bg-form-footer: #191E1F;
}

header {
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 10px 0px;
}

.logo h1 {
   text-transform: uppercase;
   color: var(--color-h1);
}

.menu ul {
   display: flex;
   justify-content: center;
   gap: 25px;
   list-style: none;
   text-transform: uppercase;
}

.menu ul:hover {
   cursor: pointer;
}

.pesquisa {
   display: flex;
   gap: 25px;
}

.pesquisa:hover {
   cursor: pointer;
}

.botao_login button {
   width: 100px;
   text-transform: uppercase;
   background-color: transparent;
   border: 0;
}

.botao_login button:hover {
   cursor: pointer;
}

.botao_login i {
   margin-left: -20px;
   width: 8px;
}

.heroi-container {
   position: relative;
   overflow: hidden;
}

.heroi {
   display: none;
   grid-template-columns: repeat(2, 2fr);
   background-color: var(--bg-color-description);
   padding: 80px 0;
   transition: opacity 0.5s ease-in-out;
   opacity: 0;
}

.heroi.active {
   display: grid;
   opacity: 1;
}

.dots {
   display: flex;
   justify-content: center;
   gap: 10px;
   margin-top: 20px;
}

.dot {
   width: 10px;
   height: 10px;
   background-color: #ccc;
   border-radius: 50%;
   cursor: pointer;
}

.dot.active {
   background-color: #333;
}

.descricao {
   width: 400px;
   margin: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 0px 15px;
}

.descricao h2 {
   font-size: 40px;
}

.descricao p {
   margin-left: 23px;
   margin-top: 10px;
   margin-bottom: 20px;
   text-align: left;
}

.links {
   display: flex;
   gap: 15px;
   margin-top: 15px;
}

.link1 {
   width: 160px;
   background-color: var(--color-button1);
   border: 1px solid var(--color-button1);
   text-decoration: none;
   color: #fff;
   text-align: center;
   padding: 5px 0px;
   transition: .1s ease-in-out;
}

.link2 {
   width: 170px;
   background-color: var(--color-button2);
   border: 1px solid var(--color-button2);
   text-decoration: none;
   color: #fff;
   text-align: center;
   padding: 5px 0px;
}

.link1:hover {
   background-color: transparent;
   color: var(--color-button1);
}

.link2:hover {
   background-color: transparent;
   color: var(--color-button2);
}

.compras {
   width: 1200px;
   max-width: 1170px;
   margin: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 20px;
}

.descricao_itens h2 {
   font-size: 30px;
}

.descricao_itens p {
   font-size: 16px;
}

.itens_precos {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}

.itens_precos div {
   background-color: var(--bg-color-description);
   margin: 10px;
}

.imagem_item {
   border-radius: 8px;
   padding: 10px;
}

.imagem_item img {
   width: 245px;
   height: 225px;
}

.preco_item {
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
}

.preco_item a {
   text-decoration: none;
   color: var(--color-button2);
   text-transform: uppercase;
}

.sobre {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   background-color: var(--bg-color-description);
   justify-content: center;
   align-items: center;
   margin: 0px 100px;
   padding: 30px;
   margin-top: 20px;
}

.imagem_pessoa img {
   width: 550px;
   margin-left: 200px;
}

.sobre_nos {
   padding: 0px 30px;
}

.sobre_nos h3 {
   margin-bottom: 20px;
   font-size: 30px;
   text-transform: uppercase;
}

.sobre_nos a {
   padding: 5px 20px;
}

.sobre_nos p {
   margin-bottom: 20px;
   border-radius: 5px;
}

.layout_blog {
   width: 1200px;
   max-width: 1170px;
   margin: auto;
   margin-top: 40px;
}

.blog {
   font-size: 35px;
   text-align: center;
   text-transform: uppercase;
   margin-top: 25px;
}

.colunas_blog {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;
}

.blog_item {
   display: flex;
   flex-direction: column;
   box-shadow: 5px 3px 5px rgba(219, 219, 219, 0.5);
}

.blog_item img {
   width: 100%;
   height: auto;
}

.descricao_blog {
   display: flex;
   flex-direction: column;
   padding: 10px;
   height: 200px;
   background-color: #fff;
}

.descricao_blog h3 {
   margin-bottom: 10px;
}

.descricao_blog .link2 {
   margin-top: 20px;
}